# Benchmark data - ignore everything except captions and current frames
resources/Benchmark/all_trajectories_plot.png
resources/Benchmark/*/*
!resources/Benchmark/*/*_caption.txt
!resources/Benchmark/*/*_current_frame.png
!resources/Benchmark/*/*_trajectory_plot.png